# Node
frontend/node_modules
frontend/dist
frontend/build

# Python
backend/.venv
backend/__pycache__
backend/*.pyc
backend/.env
backend/venv

# General
backend/.env
.env.local
.DS_Store
.vscode/
.idea/
*.log

# Docker
docker-compose.override.yml
